/*
** File Name:	polygon.css
** Author:	Aditya Ramesh
** Date:	03/18/2014
** Contact:	_@adityaramesh.com
*/

canvas
{
	display: block;
	margin: 0px auto;
}

input
{
	max-width: 24px;
}

table
{
	margin: 0px auto;
	padding-bottom: 16px;
	border-spacing: 6px;
	border-collapse: separate;
}

table tr td:first-child
{
	padding-right: 8px;
}

table tr td:nth-child(2)
{
	width: 20em;
}
