/*
** File Name:	retina.css
** Author:	Aditya Ramesh
** Date:	03/18/2014
** Contact:	_@adityaramesh.com
*/

.center
{
	width: 532px;
	height: 40px;
	margin: 40px auto;
}

canvas
{
	display: inline;
}

canvas:first-child
{
	margin-right: 20px;
}
