/*
** File Name:	style.css
** Author:	Aditya Ramesh
** Date:	09/14/2013
** Contact:	_@adityaramesh.com
*/

@import url("reset.css");

html, body
{
	width: 100%;
	height: 100%;
}

td:first-child
{
	width: 150px;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
{
	table
	{
		max-width: 95%;
	}

	td:first-child
	{
		width: 130px;
		display: block;
	}
}
